<div id="banana" fxLayout="column" fxLayoutAlign="center center">
	<p-card>
		
		<div fxLayout="row" fxLayoutAlign="center center">
			<p class="h4 mb-4">Registrati</p>
		</div>
		
		<form [formGroup]="registration" fxLayout="column" fxLayoutGap="10px">
			<input type="text" pInputText formControlName="name" placeholder="nome">
			<input type="text" pInputText formControlName="lastName" placeholder="cognome">
			<input type="text" pInputText formControlName="email" placeholder="email">
			<p-password [toggleMask]="true" placeholder="password" formControlName="password"></p-password>
			<p-password [toggleMask]="true" placeholder="conferma password" formControlName="confirmPassword"></p-password>

			<div fxLayout="row" fxLayoutAlign="end end">
				<p-button label="Registrati"></p-button>
			</div>
		</form>

	</p-card>
</div>