#wrapper {
	position: absolute;
	
	height: 100%;
	width: 100%;

	background-image: url("/assets/bg.webp") ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	#page {
		height: 90%;
		width: 90%;

		background-color: bisque;

		#content {
			padding: 10px;
		}
	}
}